body {
  background-color: rgb(40, 0, 59);
  color: goldenrod;
  padding: 2rem 1rem;
  font-family: "Ringbearer", "Impact", "Arial Bold", sans-serif;
}

.main-menu-container {
  display: grid;
  place-items: center;
}

.title-text-container,
.game-title-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.options-container {
  margin-top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.score-container,
.game-content-container {
  margin-top: 2rem;
  text-align: center;
}

.game-cards-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.game-card {
  border: solid 1px goldenrod;
  border-radius: 5px;
  height: 150px;
  min-width: 150px;

  background-image: url("../assets/images/frodo.webp");
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  color: white;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

.hint-container {
  padding: 1rem;
  margin-top: 1rem;
}

.hidden {
  display: none !important;
}
