body {
  background-color: rgb(40, 0, 59);
  color: goldenrod;
  padding: 2rem 1rem;
  font-family: "Ringbearer", "Impact", "Arial Bold", sans-serif;
}

.title-text-container,
.game-title-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.options-container {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.score-container,
.game-content-container {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-cards-container {
  display: flex;
  gap: 0.5rem;
  column-gap: 4%;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 0.25rem;

  max-width: 450px;
}

.game-card {
  border: solid 1px goldenrod;
  border-radius: 5px;
  height: 190px;
  min-width: 140px;

  background-position: top;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  color: white;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

.hint-container {
  padding: 1rem;
  margin-top: 1rem;
}

@media (min-width: 650px) {
  

  .game-card {
    height: 350px;
    min-width: 225px;
  }

  .game-cards-container {
    display: flex;
    gap: 0.5rem;
    column-gap: 2rem;
    flex-wrap: wrap;
  
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
  
    max-width: 1200px;
  }
  
  .main {
    padding: 2rem;
  }
}


.hidden {
  display: none !important;
}
